* {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

/* i commented out the height */
body {
  background-image: url("/images/Untitled\ design.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 150vh; */
}

.main {
  justify-items: center;
  width: 80%;
}

.nav-bar {
  background-color: #f5d1d1;
  overflow: hidden;
  padding: 25px;
  margin: auto;
  width: 50vw;
  border-radius: 50px;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 25px;
  overflow: hidden;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.nav-bar ul li {
  display: inline;
  padding: 50px;
  width: 50px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #000;
}

/* I commented out the padding */
.nav-bar ul li a:hover {
  color: #f5d1d1;
  background-color: #000;
  border-radius: 15px;
  /* padding: 5px; */
}
.welcome {
  font-size: 3em;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  color: #e6a8a8;
}

#img-profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;

  display: block;
  margin-top: 50px;
}
#name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  font-style: italic;
  color: white;
  padding-bottom: 0;
}
#role {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  color: white;
  padding-top: 0;
  float: left;
  
  
}
#bio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  overflow: hidden;
  padding-left: 50px;
  width: 700px;
}
.icons {
  margin: auto;
  width: 80vw;
  text-align: center;
}
.icons img {
  justify-content: center;
  text-align: center;
  width: 50vw;
  padding: 0px 20px;
  margin: auto;
}
#html-logo img {
  width: 100px;
  height: 100px;
}
#css-logo img {
  width: 100px;
  height: 100px;
}
#javscript-logo img {
  width: 100px;
  height: 100px;
}
#react-logo img {
  width: 100px;
  height: 100px;
}
#tailwind-logo img {
  width: 100px;
  height: 100px;
}
footer {
  background-color: #f5d1d1;
  margin-bottom: 0;
}
.mail h3 {
  padding: 15px;
  text-align: center;
}
.phone h3 {
  text-align: center;
}
.social-icons {
  text-align: center;
}
.social-icons img {
  padding: 0px 30px;
}
.copy p {
  font-size: 1.2em;
}
.profile-image img {
  object-fit: contain;
}
.con-img {
  text-align: center;
  padding: 18%;
}
.con-img img {
  height: 150px;
  background-color: rgb(0, 174, 255);
  border-radius: 15px;
}
.projects main .grid-card img {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 2rem;
  text-align: center;
}
