* {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}
link img {
  border-radius: 10px;
}

body {
  background-color: #201f1f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  background-color: #f5d1d1;
  overflow: hidden;
  padding-top: 35px;
  margin: auto;
  width: 50vw;
  border-radius: 50px;
  height: 100px;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 25px;
  overflow: hidden;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.nav-bar ul li {
  display: inline;
  padding: 50px;
  width: 50px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #000;
}

/* I commented out the padding */
.nav-bar ul li a:hover {
  color: #f5d1d1;
  background-color: #000;
  border-radius: 15px;
  /* padding: 5px; */
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome h1 {
  font-size: 5em;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  color: #e6a8a8;
}

#img-profile {
  border-radius: 50%;
  width: 20%;
  height: 30%;
  display: block;
  margin: 30px auto;
  object-fit: contain;
}
#name {
  font-family: tahoma;
  font-size: 3em;
  font-style: italic;
  color: white;
  padding: 0;
  margin: 0;
}
#role {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  color: white;
  padding: 0;

  margin-top: 0px;
}
#role,
#name {
  text-align: center;
}
#bio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;

  padding-left: 50px;
  width: 700px;
}
.about {
  margin: 25px auto;
  width: 70vw;
}
.skills-heading {
  color: #e6a8a8;
  font-size: 2rem;
  text-align: center;
  margin: 15px auto;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  margin: 50px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.icons img:hover{
  transform: translateY(-10px);
  transition-duration: 1s;
}
.icons .logo {
  display: inline;
}
.logo {
  margin: 0px 20px;
}
.logo p {
  font-family: verdana;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.icons img {
  width: 50vw;
  padding: 0px 20px;
}
#html-logo img {
  width: 100px;
  height: 100px;
}
#css-logo img {
  width: 100px;
  height: 100px;
}
#javscript-logo img {
  width: 100px;
  height: 100px;
}
#git-logo img {
  width: 200px;
  height: 100px;
}

#react-logo img {
  width: 100px;
  height: 100px;
}
#tailwind-logo img {
  width: 100px;
  height: 100px;
}
footer {
  background-color: hsl(0, 64%, 89%);
  margin-bottom: 0;
}
.mail h3 {
  padding: 15px;
  text-align: center;
}
.phone h3 {
  text-align: center;
}
.contacts {
  color: #fff;
}
.social-icons {
  text-align: center;
}
.social-icons img {
  padding: 0px 30px;
}
.copy p {
  font-size: 1.2em;
}
.profile-image img {
  object-fit: contain;
}
.con-img {
  text-align: center;
  padding: 50px;
}
.con-img img {
  height: 150px;
  background-color: rgb(0, 174, 255);
  border-radius: 15px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background-color: hsl(0, 0%, 90%);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  width: 400px;
  margin: 10px auto;
  height: 500px;
}
.project-card h3,
p {
  font-family: tahoma;
  font-size: 1.5em;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.headings {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  margin-top: 50px;
}
.address-container {
  display: block;
  width: 300px;
  height: 270px;
  background-color: #fff;
  text-align: center;

  border-radius: 15px;
  margin: 20px;
}
.address-container img {
  margin: 20px auto;
  width: 50px;
}
.address-container H2 {
  text-align: center;
}
hr {
  width: 60%;
  margin: 0px auto;
}
.education {
  background-color: #ffffff;
  padding: 1.5rem;
  margin: 0px auto;
  width: 60%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.education:hover .freecodecamp-img img{
  display:flex;
}
.education:hover {
  transform: translateY(-40PX);
  transition-duration: 1s;
  transition-delay: 0.25s
}
.education h1 {
  font-size: 2em;
  font-family: arial, sans-serif;
}
.education ul li {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}
.education-heading {
  text-align: center;
  margin: 15px auto;
}
.education .cert {
  margin-top: 25px;
}
.freecodecamp-img img {
  width: 300px;
  height: 300px;
  display: none;
  border-radius: 10px
}
